body {
    background: #f2f2f2;
  }
/* Navbar start */  
  .navbar .nav-item:not(:last-child) {
    margin-right: 35px;
  }
  
  .dropdown-toggle::after {
     transition: transform 0.15s linear; 
  }
  
  .show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
  }
  
  .dropdown-menu {
    margin-top: 0;
  }
  .class1{
      Background-color: white;
  }
  .class1:hover{
      background-color: aqua;
  }
  .class2{
      color: rgba(255, 255, 255, 0.699) !important; 
      font-size: 14px;
  }
  .class2:hover{
      color: aqua !important;
  transition-delay: 0.30s;
  }
  .xyz{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
/* Navbar Ends */

/* header section */

header{
    background-color: rgba(0, 0, 0, 0.83);
}
hr.line1{
    border: 1px solid white;
    width: 120px;
}

/* header section ends */

/* banner start */

.banner{
    height: 120vh;
    background:url(./images/mls_banner.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
   

/* Banner ends */

/* Cards */
.fade {
    opacity: 1;
  }
.card{
    background-color: #25292c;
}
.card2{
    background-color: #e8e8e8;
}
hr.new4 {
    border: 1px solid rgb(0, 153, 255);
    width: 150px;
  }
  .hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .8;
    margin-right: 10%;
    margin-left: 10%;
  }
    .hr-text::before {
      content: '';
      background: linear-gradient(to right, transparent, black, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 90%;
      height: 1px;
    }
    .hr-text::after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
  
      padding: 0 .5em;
      line-height: 1.5em;
      color: rgba(0, 0, 0, 0.756);
      background-color: #fcfcfa;
    }

   
/* Cards end */
/* media tags */

@media (max-width: 400px){
    c{
        padding-left: 80%;
    }
}
@media (min-width: 500px){
    c{
        padding-left: 40%;
    }
}
@media (min-width: 600px){
    c{
        padding-left: 50%;
    }
}
@media (min-width: 700px){
    c{
        padding-left: 60%;
    }
}
@media (min-width: 800px){
    c{
        padding-left: 65%;
    }
}
@media (min-width: 900px){
    c{
        padding-left: 70%;
    }
}
@media (min-width: 1000px){
    c{
        padding-left: 72%;
    }
}


  