body {
    background: #f2f2f2;
  }
/* Navbar start */  
  .navbar .nav-item:not(:last-child) {
    margin-right: 35px;
  }
  
  .dropdown-toggle::after {
     transition: transform 0.15s linear; 
  }
  
  .show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
  }
  
  .dropdown-menu {
    margin-top: 0;
  }
  .class1{
      Background-color: white;
  }
  .class1:hover{
      background-color: aqua;
  }
  .class2{
      color: rgba(255, 255, 255, 0.699) !important; 
      font-size: 14px;
  }
  .class2:hover{
      color: aqua !important;
  transition-delay: 0.30s;
  }
  .xyz{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
/* Navbar Ends */


/* banner starts */
header{
  height: 150vh;
  background:linear-gradient(to top, rgba(0,0,0,0.7),rgba(0,0,0,0.2)), url(./images/banner-image.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 
 }
 
 .banner-center{
  height: 100vh;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding: 100px;
 }
 
 .banner-center h1{
  font-size: 5rem;
 }
 
 .banner-center p{
 font-size: 2rem;
 }

 .banner-center h2{
   font-size: 30px;
   font-family: Noto Sans, sans-serif;
 }

 .banner-center h3{
   font-size:  25px;
 }
 
 hr.new4 {
  border: 1px solid rgb(0, 153, 255);
  width: 150px;
}

 
 /* banner end */




/* Footer start */
  .class3 {
    height: 280px;
}
.class4 {
    display: flex;
    height: 280px;
}

.footlink {
    color: white;
}

.footlink:hover {
    color: rgb(0, 119, 255);
}

/* footer ends */

/* Media tags */
@media (min-width: 400px){
  d{
    font-size: 10px;
  }
  .class4{
    height: 210px;
  }
  .banner-center h1{
    font-size: 40px;
    text-align: center;
  }
  .banner-center h2{
    font-size: 30px;
    padding-top: 50px;
  }
  .banner-center h3{
    font-size: 15px;
  }
  .banner-center p{
    font-size: 25px;
    text-align: center;
  }
  header{
    height: 110vh;
  }
}
@media (min-width: 500px){
  d{
    font-size: 11px;
  }
  .class4{
    height: 220px;
  }
  .banner-center h1{
    font-size: 40px;
    text-align: center;
  }
  .banner-center h2{
    font-size: 30px;
    padding-top: 50px;
  }
  .banner-center h3{
    font-size: 12px;
  }
  .banner-center p{
    font-size: 25px;
    text-align: center;
  }
  header{
    height: 110vh;;
  }
}
@media (min-width: 600px){
  d{
    font-size: 12px;
  }
  .class4{
    height: 230px;
  }
  .banner-center h1{
    font-size: 42px;
    text-align: center;
  }
  .banner-center h2{
    font-size: 29px;
    padding-top: 50px;
  }
  .banner-center h3{
    font-size: 14px;
  }
  .banner-center p{
    font-size: 27px;
    text-align: center;
  }
  header{
    height: 110vh;
  }
}
@media (min-width: 700px){
  d{
    font-size: 13px;
  }
  .class4{
    height: 240px;
  }
  .banner-center h1{
    font-size: 44px;
    text-align: center;
  }
  .banner-center h2{
    font-size: 32px;
    padding-top: 60px;
  }
  .banner-center h3{
    font-size: 15px;
  }
  .banner-center p{
    font-size: 29px;
    text-align: center;
  }
  header{
    height: 110vh;
  }
}
@media (min-width: 800px){
  d{
    font-size: 14px;
  }
  .class4{
     height: 250px;
  }
  .banner-center h1{
    font-size: 50px;
    text-align: center;
  }
  .banner-center h2{
    font-size: 35px;
    padding-top: 60px;
  }
  .banner-center h3{
    font-size: 16px;
  }
  .banner-center p{
    font-size: 33px;
    text-align: center;
  }
  header{
    height: 100vh;
  }
}
@media (min-width: 900px){
  d{
    font-size: 14px;
  }
  .class4{
    height: 255px;
  }
  .banner-center h1{
    font-size: 60px;
    text-align: center;
  }
  .banner-center h2{
    font-size: 37px;
    padding-top: 100px;
  }
  .banner-center h3{
    font-size: 18px;
  }
  .banner-center p{
    font-size: 35px;
    text-align: center;
  }
  header{
    height: 110vh;
  }
}
@media (min-width: 1000px){
  d{
    font-size: 14px;
  }
  .class4{
    height: 240px;
  }
}
@media (min-width: 1100px){
  d{
    font-size: 14px;
  }
  .class4{
    height: 235px;
  }
}
@media (min-width: 1200px){
  d{
    font-size: 14px;
  }
  .class4{
    height: 225px;
  }
}
@media (min-width: 1300px){
  d{
    font-size: 14px;
  }
  .class4{
    height: 225px;
  }
}
@media (min-width: 1400px){
  d{
    font-size: 14px;
  }
  .class4{
    height: 225px;
  }
  .banner-center h1{
    text-align: left;
  }
  .banner-center p{
    text-align: left;
  }
}
@media (min-width: 1500px){
  d{
    font-size: 14px;
  }
  .class4{
    height: 220px;
  }
}
 