@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.row{
  margin: 0;
  padding: 0;
}
body{
    line-height: 1.4;
}
.main-wrapper img{
    width: 100%;
    display: block;
}
.main-wrapper a{
    color: #000;
    text-decoration: none;
}
.main-wrapper ul li{
    list-style-type: none;
}
.navbar{
    background: #fafafa;
    padding: 0 1rem;
    position: scroll;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 10;
}
.brand-and-icon{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
}
.navbar-brand{
    font-size: 1.8rem;
    letter-spacing: 3px;
    font-weight: 700;
}
.navbar-toggler{
    display: block;
    border: none;
    background: transparent;
    font-size: 1.8rem;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    transition: all 0.4s ease;
    border: 2px solid #000;
    border-radius: 4px;
}
.navbar-toggler:hover{
    opacity: 0.7;
}
.navbar-collapse{
    overflow-y: scroll;
    display: none;
}
.navbar-nav > li > a{
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
    display: block;
    padding: 0.6rem 0;
    margin: 0.2rem 0;
    border-bottom: 1px solid #ddd;
    border-radius: 1px;
    position: relative;
    transition: all 0.4s ease;
}
.drop-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.navbar-nav > li > a:hover{
    opacity: 0.7;
}
.sub-menu h4{
    text-transform: capitalize;
    font-size: 1rem;
    padding: 0.5rem 0;
}
.sub-menu ul li{
    text-transform: capitalize;
    padding: 0.2rem 0;
    margin: 0.2rem 0;
    font-size: 0.95rem;
}
.sub-menu ul li a{
    opacity: 0.8;
    transition: all 0.5s ease;
}
.sub-menu ul li a:hover{
    padding-left: 14px;
    opacity: 0.9;
}
.sub-menu{
    display: none;
}

.sub-menu-item{
    padding-left: 1.2rem;
}
.sub-menu-item:nth-child(3){
    background: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.sub-menu-item:nth-child(3) h2{
    text-transform: capitalize;
    margin: 1.5rem 0;
}
.sub-menu-item:nth-child(3) .btn{
    border: 1px solid #000;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
    cursor: pointer;
    background: #000;
    color: #fff;
    transition: all 0.5s ease;
}
.sub-menu-item:nth-child(3) .btn:hover{
    background: transparent;
    color: #000;
}
.sub-menu-item:nth-child(4){
    width: 50%;
    margin: 0 auto;
    padding: 2rem 0;
}
.logosize{
  width: 200%;
}

/* Media Queries */
@media screen and (max-width: 992px){
  .navbar{
    overflow-y: scroll;
    position:relative;
  }
  .navbar-toggler{
    height: 40px;
    margin-top: 1%;
  }
}
@media screen and (min-width: 992px){

    .navbar{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding: 0 5rem;
        position: fixed;
    }
    .navbar-toggler{
        display: none;
    }
    .brand-and-icon{
        flex: 0 0 100px;
        border-bottom: none;
        padding: 0;
    }
    .navbar-collapse{
        display: block!important;
        overflow-y: hidden;
        flex: 1 0 auto;
    }
    .navbar-nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-nav > li > a{
        border-bottom: none;
        margin: 0 0.4rem;
        padding: 1.7rem 1.8rem 1.7rem 0.8rem;
        font-size: 0.8rem;
    }
    .sub-menu{
        position: absolute;
        left: 0;
        width: 100%;
        top: 100%;
        background: #f8f8f8;
    }
    .navbar-nav > li:hover .sub-menu{
        display: grid!important;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 5rem;
    }
    .navbar-nav > li{
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.4s ease;
    }
    .navbar-nav > li:hover{
        border-bottom-color: #000;
    }
    .sub-menu-item{
        padding-left: 0;
        margin-bottom: 10%;
        margin-top: 10%;
    }
    .sub-menu-item:nth-child(3){
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 10%;
        margin-top: 10%;
    }
}
/* Navbar Ends */

/* banner start */

@font-face {
    font-family: "HelveticaNow"; 
      src: url(https://assets.codepen.io/5286152/HelveticaNowText-Regular.ttf);
    }
    
    .introcontainer {
      width: 100%;
      height: 100%;
      margin: auto;
    }
    .swiper-container {
      width: 100%;
      height: 100vh;
      background:black;
    }
    .swiper-slide {
      width: 500px;
      height: 100%;
      display: flex;
      margin: auto;
      align-items: center;
      justify-content: center;
      background: black;
    }
    .cards {
      width: 100%;
      height: auto;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
    }
    .card img {
      object-fit: cover;
      width: 600px;
      border-radius: 5px;
      max-width: 100%;
      height: auto;
      min-height: 50vh;
      padding: 0;
      margin: 0;
    }
    
    .card.two img {
      filter: sepia(100%) hue-rotate(190deg) saturate(300%);
    }
    .card.three img {
      height: 50vh;
    }
    .card.four img {
      filter: invert(4%) sepia(75%) saturate(500%) hue-rotate(356deg) brightness(70%) contrast(103%);
    }
    .text {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0px;
      max-width: 100%;
      width: 500px;
      
    }
    
    .title-box {
      display: flex;
      text-align: left;
      max-width: 100%;
      flex-direction: column;
      flex-wrap: nowrap;
      position: absolute;
      top: 0;
      left: 50%;
      right: 0 !important;
      bottom: 50px;
      justify-content: center;
      color: #fff;
      opacity: 0;
      z-index: 15;
    }
    .title-box h1 {
      display: block;
      font-family: "Futura";
      font-weight: 700;
      line-height: normal;
      max-width: 100%;
      font-size: 3vmin;
    }
    .title-box p {
      font-family: "HelveticaNow";
      font-size: 2vmin;
      padding-top: 0;
      margin: 0;
      padding-left: 1%;
      max-width: 100%;
    }
    .card .title-box .seperator {
      height: 1px;
      width:10%;
      background: white;
      position: absolute;
      content: "";
      left: -15%;
      top: 50%;  
    }
    .swiper-slide .title-box{
      transform: translateX(-50%);
      transition: all .7s ease .3s;
    }
    .swiper-slide-active .title-box {
      transform: translateX(0%);
      opacity: 1;
      transition: all .7s ease;
    }
    
    .swiper-scrollbar {
      background: white;
    }
    
    .swiper-slide .card img {
      transition: filter .7s ease;
      filter: grayscale(100%);
    }
    .swiper-slide-active .card img {
      filter: grayscale(0%) brightness(60%);
    }
    
    .swiper-pagination-bullet-active {
      background: white !important;
      width: 25px !important;
      height: 5px !important;
      border-radius: 0 !important;
    }
    .swiper-pagination-bullet {
      background: whitesmoke !important;
      width: 25px !important;
      height: 5px !important;
      border-radius: 0!important;
    }
    .swiper-arrows {
      width: 100%;
      height: 80px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 50%;
    }
    .swiper-button-prev,
    .swiper-button-next {
      width: 80px !important;
      height: 80px;
      background-image: none !important;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      bottom: 0;
      margin: 0;
      border-radius: 5px;
      transition: all 0.3s ease;
    }
    .swiper-button-prev {
      left: 0px !important;
      right: auto !important;
      background-color: rgba(255, 255, 255, 0.7);
    }
    .swiper-button-next {
      right: 0px !important;
      background-color: rgba(255, 255, 255, 0.8);
    }
    .swiper-button-prev span,
    .swiper-button-next span {
      width: 10px;
      height: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      position: absolute;
      border: solid 2px #666;
      border-left: 0;
      border-bottom: 0;
      transition: all 0.1s ease;
    }
    .swiper-button-prev span {
      transform: rotate(-135deg);
      left: 49%;
    }
    .swiper-button-next span {
      transform: rotate(45deg);
      right: 49%;
    }
    .swiper-button-prev:hover span,
    .swiper-button-next:hover span {
      width: 5px;
      height: 5px;
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
      width: 0px;
      height: inherit;
      content: "";
      position: absolute;
      border-radius: 5px;
      background-color: white;
      transition: all 0.4s ease-in-out;
      z-index: -1;
      opacity: 0.8;
    }
    .swiper-button-prev:after {
      right: 0;
    }
    .swiper-button-next:after {
      left: 0;
    }
    .swiper-button-prev:hover:after,
    .swiper-button-next:hover:after {
      width: inherit;
    }
    .swiper-button-disabled {
      opacity: 1 !important;
    }
    .swiper-button-disabled.swiper-button-prev span,
    .swiper-button-disabled.swiper-button-next span {
      opacity: 0.2;
    }
    @media screen and (max-width: 512px) {
      .swiper-button-prev,
      .swiper-button-next {
        width: 60px;
        height: 60px;
        bottom: 0;
      }
      .swiper-arrows {
        height: 60px;
      }
      .swiper-button-prev {
        right: 60px;
      }
      .swiper-button-prev span {
        left: 45%;
      }
      .swiper-button-next span {
        right: 45%;
      }
    }
    .swiper-button-next::after, .swiper-container-rtl .swiper-button-prev::after {
      content: "attr" !important;
    }
    .swiper-button-prev::after, .swiper-container-rtl .swiper-button-prev::after {
     content: "attr" !important;
    }


    /* Banner Ends */

    /* our story */

    .btn1 {
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        font-family: Arial;
        color: #ffffff;
        font-size: 16px;
        background: #002DBF;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
      }
      
      .btn1:hover {
        background: #E15501;
        text-decoration: none;
      }

      /* our story ends */


   /* services start */
   
   #learn-more {
    fill-opacity: 0;
    fill: #fff;
    stroke: coral;
    stroke-width: 2;
    border-radius: 5px;
    stroke-linejoin: round;
    -webkit-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
    cursor: pointer;
  }
  #learn-more:hover {
    fill-opacity: 1;
  }
  #learn-more:hover ~ .learn-more-text {
    fill: #002DBF;
  }
  
  .learn-more-text {
    font-family: 'Roboto';
    fill: #fff;
    pointer-events: none;
    font-size: 14px;
    -webkit-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
  }
  
  .center {
    fill: #002DBF;
  }
  
  .pointer {
    fill: #fff;
    stroke: #E15501;
    stroke-width: 2;
  }
  
  .nav-copy {
    font-family: 'Roboto';
    fill: #fff;
    fill-opacity: 1;
    -webkit-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
  }
  .nav-copy.changing {
    fill-opacity: 0;
  }
  
  .service {
    cursor: pointer;
  }
  .service text {
    font-size: 14px;
    font-family: 'Roboto';
    text-anchor: middle;
  }
  .service .icon-wrapper {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  .service .icon-wrapper, .service .icon-wrapper > * {
    -webkit-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
  }
  .service circle {
    fill: #002DBF;
  }
  .service circle.shadow {
    fill-opacity: 0;
    -webkit-filter: url(#service-shadow);
            filter: url(#service-shadow);
  }
  .service use {
    fill: gold;
  }
  .service text {
    fill: #4d4d4d;
  }
  .service.active .icon-wrapper, .service:hover .icon-wrapper {
    -webkit-transform: scale(1.15) translateY(-5px);
            transform: scale(1.15) translateY(-5px);
  }
  .service.active .icon-wrapper, .service.active .icon-wrapper > *, .service:hover .icon-wrapper, .service:hover .icon-wrapper > * {
    -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
  }
  .service.active .icon-wrapper circle.shadow, .service:hover .icon-wrapper circle.shadow {
    fill-opacity: 0.4;
  }
  .service.active text, .service:hover text {
    fill: #002DBF;
    font-weight: bold;
  }

  .cls-1 {
    font-size: 28px;
    font-family: Roboto-Bold, Roboto;
    font-weight: 700;
  }

  .cls-2 {
    letter-spacing: -0.02em;
  }

  .cls-3 {
    letter-spacing: -0.01em;
  }

  .cls-4 {
    letter-spacing: -0.01em;
  }

  .cls-5 {
    font-size: 16px;
    font-family: Roboto-Regular, Roboto;
  }

  .cls-6 {
    letter-spacing: -0.01em;
  }

  .cls-7 {
    letter-spacing: -0.01em;
  }

  .cls-8 {
    letter-spacing: -0.02em;
  }

  .cls-9 {
    letter-spacing: -0.01em;
  }

  .cls-10 {
    letter-spacing: 0.01em;
  }

  .cls-11 {
    letter-spacing: -0.01em;
  }

  .cls-12 {
    letter-spacing: -0.04em;
  }

  .cls-13 {
    letter-spacing: -0.02em;
  }

  .cls-14 {
    letter-spacing: 0.01em;
  }

  .cls-15 {
    letter-spacing: -0.01em;
  }

  .cls-16 {
    letter-spacing: -0.06em;
  }

  .cls-17 {
    letter-spacing: -0.02em;
  }

  .cls-18 {
    letter-spacing: 0.01em;
  }

  .cls-19 {
    letter-spacing: 0.02em;
  }

  .cls-20 {
    letter-spacing: -0.01em;
  }

  .cls-21 {
    letter-spacing: -0.03em;
  }
/* services ends */

/* timeline */

.main-timeline5{overflow:hidden;position:relative}
.main-timeline5 .timeline{position:relative;margin-top:-13px}
.main-timeline5 .timeline:first-child{margin-top:0}
.main-timeline5 .timeline-icon,.main-timeline5 .year{margin:auto;position:absolute;top:0;left:0;bottom:0;right:0}
.main-timeline5 .timeline:after,.main-timeline5 .timeline:before{content:"";display:block;width:100%;clear:both}
.main-timeline5 .timeline:before{content:"";width:100%;height:100%;box-shadow:-8px 0 5px -5px rgba(0,0,0,.5) inset;position:absolute;top:0;right:0;z-index:2}
.main-timeline5 .timeline-icon{width:210px;height:210px;border-radius:50%;border:25px solid transparent;border-top-color:#E15501;border-right-color:#E15501;z-index:1;transform:rotate(45deg)}
.main-timeline5 .year{display:block;width:110px;height:110px;line-height:110px;border-radius:50%;background:#fff;box-shadow:0 0 20px rgba(0,0,0,.4);font-size:30px;font-weight:700;color:#E15501;text-align:center;transform:rotate(-45deg)}
.main-timeline5 .timeline-content{width:35%;float:right;background:#E15501;padding:30px 20px;margin:50px 0;z-index:1;position:relative}
.main-timeline5 .timeline-content:before{content:"";width:20%;height:15px;background:#E15501;position:absolute;top:50%;left:-20%;z-index:-1;transform:translateY(-50%)}
.main-timeline5 .title{font-size:20px;font-weight:700;color:#fff;margin:0 0 10px}
.main-timeline5 .description{font-size:16px;color:#fff;line-height:24px;margin:0}
.main-timeline5 .timeline:nth-child(2n):before{box-shadow:8px 0 5px -5px rgba(0,0,0,.5) inset}
.main-timeline5 .timeline:nth-child(2n) .timeline-icon{transform:rotate(-135deg);border-top-color:#002DBF;border-right-color:#002DBF}
.main-timeline5 .timeline:nth-child(2n) .year{transform:rotate(135deg);color: #002DBF}
.main-timeline5 .timeline:nth-child(2n) .timeline-content{float:left}
.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{left:auto;right:-20%}
.main-timeline5 .timeline:nth-child(2n) .timeline-content,.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{background:#002DBF}
.main-timeline5 .timeline:nth-child(3n) .timeline-icon{border-top-color:#E15501;border-right-color:#E15501}
.main-timeline5 .timeline:nth-child(3n) .year{color:#E15501}
.main-timeline5 .timeline:nth-child(3n) .timeline-content,.main-timeline5 .timeline:nth-child(3n) .timeline-content:before{background:#E15501}
.main-timeline5 .timeline:nth-child(4n) .timeline-icon{border-top-color:#002DBF;border-right-color:#002DBF}
.main-timeline5 .timeline:nth-child(4n) .year{color:#002DBF}
.main-timeline5 .timeline:nth-child(4n) .timeline-content,.main-timeline5 .timeline:nth-child(4n) .timeline-content:before{background:#002DBF}
.main-timeline5 .timeline:nth-child(5n) .timeline-icon{border-top-color:#E15501;border-right-color:#E15501}
.main-timeline5 .timeline:nth-child(5n) .year{color:#E15501}
.main-timeline5 .timeline:nth-child(5n) .timeline-content,.main-timeline5 .timeline:nth-child(5n) .timeline-content:before{background:#E15501}
.main-timeline5 .timeline:nth-child(6n) .timeline-icon{border-top-color:#002DBF;border-right-color:#002DBF}
.main-timeline5 .timeline:nth-child(6n) .year{color:#002DBF}
.main-timeline5 .timeline:nth-child(6n) .timeline-content,.main-timeline5 .timeline:nth-child(6n) .timeline-content:before{background:#002DBF}
@media only screen and (max-width:1199px){.main-timeline5 .timeline{margin-top:-13px}
.main-timeline5 .timeline-content:before{left:-18%}
.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{right:-18%}
}
@media only screen and (max-width:990px){.main-timeline5 .timeline{margin-top:-19px}
.main-timeline5 .timeline-content:before{left:-2%}
.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{right:-2%}
}
@media only screen and (max-width:767px){.main-timeline5 .timeline{margin-top:0;overflow:hidden}
.main-timeline5 .timeline:before,.main-timeline5 .timeline:nth-child(2n):before{box-shadow:none}
.main-timeline5 .timeline-icon,.main-timeline5 .timeline:nth-child(2n) .timeline-icon{margin-top:-30px;margin-bottom:20px;position:relative;transform:rotate(135deg)}
.main-timeline5 .timeline:nth-child(2n) .year,.main-timeline5 .year{transform:rotate(-135deg)}
.main-timeline5 .timeline-content,.main-timeline5 .timeline:nth-child(2n) .timeline-content{width:100%;float:none;border-radius:0 0 20px 20px;text-align:center;padding:25px 20px;margin:0 auto}
.main-timeline5 .timeline-content:before,.main-timeline5 .timeline:nth-child(2n) .timeline-content:before{width:15px;height:25px;position:absolute;top:-22px;left:50%;z-index:-1;transform:translate(-50%,0)}
}

/* our work */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.photo {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #E15501;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.photo * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

figure.photo img {
  max-width: 100%;
  position: relative;
  opacity: 0.4;
  display: block;
}

figure.photo figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

figure.photo h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: #000000;
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
}

figure.photo h2 span {
  font-weight: 800;
}

figure.photo:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: '';
  background: #002DBF;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
}

figure.photo a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.photo.blue {
  background: #E15501;
}

figure.photo.blue h2 {
  background: #0a212f;
}

figure.photo.red {
  background: #E15501;
}

figure.photo.red h2 {
  background: #36100c;
}

figure.photo.yellow {
  background: #7f5006;
}

figure.photo.yellow h2 {
  background: #583804;
}

figure.photo:hover img,
figure.photo.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.photo:hover h2,
figure.photo.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.photo:hover:before,
figure.photo.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* customer say */

.comment-banner{
  background:linear-gradient(to top, rgba(0,0,0,0.7),rgba(0,0,0,0.2)), url(../images/back2.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 }

.col-center {
margin: 0 auto;
float: none !important;
}
.carousel {
padding: 0 70px;
}
.carousel .carousel-item {
color: #999;
font-size: 14px;
text-align: center;
overflow: hidden;
min-height: 290px;
}
.carousel .carousel-item .img-box {
width: 135px;
height: 135px;
margin: 0 auto;
padding: 5px;
border: 1px solid #ddd;
border-radius: 50%;
}
.carousel .img-box img {
width: 100%;
height: 100%;
display: block;
border-radius: 50%;
}
.carousel .testimonial {
padding: 30px 0 10px;
}
.carousel .overview {	
font-style: italic;
}
.carousel .overview b {
text-transform: uppercase;
color: #E15501;
}
.carousel .overview c {
color: #002DBF;
}
.carousel-control-prev, .carousel-control-next {
width: 40px;
height: 40px;
margin-top: -20px;
top: 50%;
background: none;
}
.carousel-control-prev i, .carousel-control-next i {
font-size: 68px;
line-height: 42px;
position: absolute;
display: inline-block;
color: rgba(0, 0, 0, 0.8);
text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel-indicators {
bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
width: 12px;
height: 12px;
margin: 1px 3px;
border-radius: 50%;
border: none;
}
.carousel-indicators li {	
background: #999;
border-color: transparent;
box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
background: #555;		
box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

/* startup samachar */

.card2 {
  transition: transform 0.2s ease;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  border-radius: 0;
  border: 0;
  margin-bottom: 1.5em;
}
.card2:hover {
  transform: scale(1.1);
}

/* sign up */

.signup{
  background:url(http://corpcrush.in/wp-content/uploads/2021/01/design-final-with-bg-34.png) , url(http://corpcrush.in/wp-content/uploads/2021/01/design-final-with-bg-31.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 }

/* Footer start */
.class3 {
  height: 280px;
}
.class4 {
  display: flex;
  height: 280px;
}

.footlink {
  color: white;
}

.footlink:hover {
  color: rgb(0, 119, 255);
}

/* footer ends */
